@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "roboto",arial,sans-serif,'Kanit';
}
body{
  width: 100%;
}

a{
  text-decoration: none;
}

.container{
  width: 100%;
}

.category-menu{
    width: 100%;
}

.header{
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
}

#header-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 40px;
}
.header-top-catogories{
    background-image: linear-gradient(rgba(255, 255, 255, 0.843), rgba(163, 163, 163, 0.398));
    border-radius: 25px;
    width: 35px;
    border: none;
    display: flex;
    justify-content: center;
    margin-left: 1%;
}
.header-link{
  margin-right: 1%;
}

.header-link a{
    text-decoration: none;
    color: black;
}

#sub-Menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.location-div{
  margin: 0px 10px;
}

#Location{
    width: 10rem;
    padding: 7px;
}

.search-div{
  margin: 0px 10px 0px 0px;
}

#search{
    width: 70rem;
    background-image: url('./src/images/magnifying-glass.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 98%;
    padding: 7px;
    border-radius: 5px;
    border:1px solid rgb(0, 231, 220);
}

.login-div{
  margin: 0px 10px 0px 0px;
}
.login{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.login:hover{
    background-color: transparent;
    border: none;
}

.sell-div{
  margin: 0px 10px 0px 0px;
}
.sell{
    background-image: url('./images/add.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 13px;
    background-color: transparent;
    border-radius: 25px;
    border-top: 3px solid rgb(0, 231, 220);
    border-bottom: 3px solid rgb(64, 140, 226);
    border-right: 3px solid rgb(64, 140, 226);
    border-left: 3px solid yellow;
    width: 70px;
    text-align: center;
    padding: 3px;
    font-size: 18px;
}

.logo-black{
    width: 65px;
}


#categories{
    width: 60%;
    border: none;
}

.tags{
    width: 90px;
}

.mobile-tags{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mobile{
  border: 1px solid rgb(100, 100, 100);
  margin: 10px;
  width: 360px;
  height: 50vh;
  padding: 10px;
}

.mobile-img{
  width: 359px;
  height: 30vh;
}

.car-img{
  width: 359px;
  height: 30vh;
}

.mobile h4{
  padding-top: 10px;
  font-size: 20px;
  text-align: start;
  background-image: url('./src/images/heart.png');
  background-repeat: no-repeat;
  background-position: 100%;
}

.mobile h2{
  font-size: 12px;
}

.bottom{
  position: relative;
  bottom: 0;
  top: 40px;
}

.speed{
  background-image: url('./src/images/speedometer.png');
  background-repeat: no-repeat;
}

#speedometer{
  text-align: left;
  background-image: url('./src/images/speedometer.png');
  background-repeat: no-repeat;
  background-position: 0px;
}

.mobile-installment-img{
  width: 359px;
  height: 30vh;
}

.bottom-mobile{
  position: relative;
  bottom: 0;
  top: 25px;
}

.seccond_page{
  color: #000000;
}

.sub-footer{
  background-color: rgb(219, 218, 218);
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.app-info{
  border-right: 1px solid rgb(187, 187, 187);
  padding: 10px;
}

.app{
  padding: 40px;
}

.appstores{
  width: 120px;
}

.footer-tags{
  font-size: 15px;
  margin: 0px 20px;
}

.links{
  text-decoration: none;
  display: block;
  color: rgb(116, 116, 116);
  font-size: 13px;
}

.social{
  width: 24px;
}

.appstores-1{
  width: 90px;
  text-align: center;
}

.footer{
  background-color: #002f34;
  color: white;
}

.footer-tags-1{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

li{
  list-style: none;
}

header{
  width: 80%;
  margin: auto;
  background-color: #fff;
  z-index: 99;
}

/* Mega Menu DropDown start*/
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 -5px;
  z-index: 999;
}

.nav_list{
  display: flex;
}

.nav_items{
  margin: 0 0.5rem;
  padding: 1.4rem 0;
}

.nav_links{
  font-weight: 500;
  color: #000000;
}

.nav_links:hover{
  color: #189baa;
}


.dropdown_link{
  display: flex;
  align-items: center;
}

.dropdown_icon{
  font-size: 1rem;
}

.megamenu{
  position: absolute;
  top: 9rem;
    left: 190px;
  background-color: #fff;
  width: max-content;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.megamenu_item{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header_megamenu{
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
}

.title{
  color: #000000;
}
.title:hover{
  color: #0e7480;
}

.menu_icon{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  background-color: #efeef1;
  margin-right: 0.5em;
}

.menu_icon i{
  line-height: 32px;
  font-size: 22px;
  color: #a92ec8;
}

.megamenu_link a{
  font-weight: lighter;
  color: #8b8b8b;
}

.megamenu_link a:hover{
  color: #189baa;;
}

.megamenu_link p{
  font-size: 0.6875rem;
  font-weight: 400;
  color: #a8a1b5;
}

.dropdown:hover .megamenu{
  color: #a92ec8;
  visibility: visible;
  transition: all 0.3s ease;
  opacity: 1;
}

.nav_items:hover .dropdown_icon{
  transform: rotate(180deg);
  transition: all 0.3s ease;
}


.link_route{
  margin: auto;
}

.route{
  text-decoration: none;
  color: #000000;
  font-weight: lighter;
  font-size: 14px;
}

.main_content{
  display: flex;
}
/* Mega Menu DropDown End*/


.slideshow{
  margin: 0;
  width: 840px;
}

.mySlides {
  display:none;
  width:840px;
  height: 500px;
}

.user_icon{
  width: 70px;
}

.banner-div{
  width: 80%;
  margin: auto;
}

.banner{
  width: 100%;
}

.content_container{
  display: flex;
  flex-direction: column;
}

.info{
  border: 1px solid rgb(163, 163, 163);
  box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
}

.info_div{
  display: flex;
}

.info_div p{
  font-size: 16px;
  line-height: 10px;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.phone{
  border: none;
  background-color: #002f34;
  background-image: url('./images/telephone.png');
  background-repeat: no-repeat;
  background-position: 110px;
  color: white;
  padding: 8px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 17px;
}

.chat{
  margin-top: 10px;
  border: 2px solid #002f34;
  background-image: url('./images/chat.png');
  background-repeat: no-repeat;
  background-position: 170px;
  color: #032327;
  background-color: transparent;
  font-weight: bold;
  font-size: 17px;
  padding: 8px;
  border-radius: 2px;
}

.olx_feature{
  border: 1px solid rgb(163, 163, 163);
  margin-top: 20px;
  box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
}

.inspection{
  width: 120px;
}

.car_inspection{
  display: flex;
  width: 100%;
}

.car_inspection i{
  margin-top: 15px;
}

.inspection_btn{
  width: 100%;
  border: none;
  background-color: #2283f1;
  color: white;
  margin-top: 10px;
  padding: 8px;
}

.inspection_btn:hover{
  background-color: #169fdf;
}


.location_information{
  border: 1px solid rgb(163, 163, 163);
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 23px 23px -21px rgba(0, 0, 0, 0.25);
}

.location_info{
  display: flex;
  align-items: center;
}

.location{
  width: 17px;
  height: 17px;
  margin-bottom: 15px;

}

.car_title{
  border: 1px solid rgb(163, 163, 163);
}

.car_information{
  display: flex;
  width: 100%;

}

.share{
  position: relative;
  left: 33.7rem;
}

.olx_icon{
  margin-top: 20px;
  padding: 5px;
}

.headings h3{
  font-weight: bold;
}

.car_detail{
  border: 1px solid rgb(163, 163, 163);
  margin-top: 10px;
}

.tables table{
  width: 90%;
  margin: auto;
  font-size: 15px;
}

table tr td b{
  font-weight: 500;
}

.car_description{
  border: 1px solid rgb(163, 163, 163);
  margin-top: 10px;
}

.user_car_description{
  line-height: 10px;
  margin: 10px;
  font-size: 14px;
}

.tags-div{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */

}

.tags{
  width: 80%;
}

.feature-tag{
  text-align: center;
  padding-top: 9px;
  width: 100%;
  margin: 5px;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid rgb(163, 163, 163);
}

.car-tags{
  display: flex;
  margin-top: 10px;
}

.related-car{
  border: 1px solid rgb(163, 163, 163);
  width: 250px;
  margin: 10px;
}

.car-1-img{
  width: 230px;
  height: 170px;
}

#speedometer-1{
  text-align: left;
  background-image: url('./images/speedometer.png');
  background-repeat: no-repeat;
  background-position: 0px;
}


.bottom1{
  position: relative;
  bottom: 0;
  top: 37px;
}

.bottom-1{
  position: relative;
  bottom: 0;
  top: 15px;
}

.bottom-2{
  position: relative;
  bottom: 0;
  top: 60px;
}
#category-div{
  width: 80%;
  margin: auto;
}
.all-category{
  margin: 10px -28px;
  font-size: 18px;
  font-weight: 200;
}

.footer-items{
  padding: 10px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}


/* SignIn page */

#container{
    width: 100vw;
    height: 98vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#content-container{
    width: 20%;
    border: 1px solid rgba(185, 185, 185, 0.768);
    border-radius: 10px;
    padding: 20px;
}

#header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 10vw;
    padding: 5px;
}


#signin{
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    
}

#continue{
    font-size: 16px;
    font-weight: 300;
    padding: 0px 0px 25px 0px;
}

.inputElement{
    width: 100%;
    padding: 10px 0px;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
    border-color: rgba(185, 185, 185, 0.768);
}

#signin-btn{
    padding: 8px;
    width: 20%;
    background-color: rgb(0, 123, 224);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

#footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#account-link{
    text-decoration: none;
    color: rgb(0, 123, 224);
}

label{
    color: rgb(0, 123, 224);
    font-weight: 500;
}